name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read


jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check formatting
        run: cargo fmt -- --check

  build:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features: [
          "",
          "--no-default-features",
          "--no-default-features --features server"
        ]
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose ${{ matrix.features }}
      - name: Run tests
        run: cargo test --verbose ${{ matrix.features }}
      - name: Run clippy
        run: cargo clippy --verbose ${{ matrix.features }} -- -D warnings